.odd-number {
  background-color: rgb(255, 102, 102);
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

#number-2 {
  color: rgb(0, 110, 255);
  font-size: 36px;
}

#number-3 {
  font-size: 24px;
}
